#header {
    display:none;
}

#finish-up {
    display:none;
}

#stage-2 {
    border:none;
}

#clues {
    position:static;
}

#clues-inner {
    border:none;
}

#clues ol {
    overflow:visible;
    height:auto;
}

#crossword {
    margin-bottom:20px;
}
